<section class="main">
    <h1 class="main__title">
        Lorem ipsum dolor sit amet <span class="main__mark">labore</span>
    </h1>
    <p class="main__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    </p>
    <button (click)="onLogin(vs.user)" class="main__button" *ngIf="{ user : user$ | async} as vs">Access Dashboard</button>
    <div class="footer">
        <p>©2023 by MAG and Mihai Radu. All rights reserved</p>
    </div>
</section> 
