<section class="main">
    <img src="assets/images/AmasonVanilla_logo.png" height="80px" style="margin-bottom: 1rem;"/>

    <h1 class="main__title" style="width: 80%;">
        The place where boring spreadsheets are a thing of the <span class="main__mark">past.</span>
    </h1>
    <p class="main__description">
        Our admin dashboard is like a superhero for your data, organizing, sorting, and analyzing your information faster than a speeding bullet. 
    </p>
    <button (click)="onLogin(vs.user)" class="main__button" *ngIf="{ user : user$ | async } as vs">Access Dashboard</button>
    <div class="footer">
        <p>©2023 by MAG and Mihai Radu. All rights reserved</p>
    </div>
</section> 
