.page-content {
    flex-wrap: wrap;
}

.page-action {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.vacation {
    display: flex;
    flex-direction: column;
    height: fit-content;
    &__title {
        margin: 0;
        font-size: 1.5rem;
    }
}

.user {
    display: flex;
    gap: .5rem;
    align-content: center;
    margin: .8rem 0 0rem;
    &__image {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
    &__name {
        margin: 0;
        line-height: 1.35;
    }
}