@use 'src/assets/scss/utils' as *;

.user {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    &__name {
        font-weight: bold;
    }
    &__job {
        font-size: .8rem;
        text-transform: capitalize;
    }
}

.avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    @include mq(small) {
        height: 32px;
        width: 32px;
    }
}

.center {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.center .user{
    margin-right: 1rem;
}