<ng-container *ngIf="user$ | async as user">
    <div class="center">
        <div style="display: flex; gap: 1rem; justify-content: center; align-items: center;">
        <img class="avatar" [src]="user.imageUrl">
        <section class="user">
            <span class="user__name">{{ user.name }}</span>
            <span class="user__job">{{ user.job }}</span>
        </section>
        </div>
        <button mat-icon-button (click)="onLogout()"><mat-icon>logout</mat-icon></button>
    </div>
</ng-container>