@use 'mixins' as *;

:root {
    --bg-color-dark : #242529;
    --bg-color-dark-lighter : #37393f;
    --primary-color: #fff37a;
    --accent-color: teal;
    --text-color: #e1e1e1;
    --border-radius: 25px;
    @include mq(small) {
        --border-radius: 0px;
    } 
}