.card {
    display: flex;
    background-color: var(--bg-color-dark-lighter);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    padding: 1.1rem;
    color: #f9e8de;
    backdrop-filter: blur(4px);
    border: 2px solid var(--bg-color-dark-lighter);
}

.card--outline {
    display: flex;
    border: 2px solid var(--bg-color-dark-lighter);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    padding: 1.1rem;
}