.container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    // margin: 1rem;
}
.wrapper {
    box-sizing: border-box;
    justify-content: space-between;
    height: 100%;
}