<section class="chat-box">
<header class="top-bar">{{username}}💬</header>
<div class="App">
    <div class="message sent">
        <img src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'>
        <p>aaaa</p>
    </div>
    <div class="message received">
        <img src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'>
        <p>aaaa</p>
    </div>

    <form>
        <input placeholder="Say something nice." />
        <button type="submit">📨</button>
    </form>
</div>
</section>